body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  box-sizing: border-box
  display: flex;
  flex-direction: column;
  height: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  padding: 1em;
}

.col:first-child {
  flex-basis: 240px;
}

.item-center {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #eee;
}

.col:last-child {
  flex-basis: 180px;
  flex-grow: 0;
  flex-shrink: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 250px;
  background-color: #fff;
  margin: 0.5rem;
  border-radius: 10px; 
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.16),
    0 1px 3px rgba(0, 0, 0, 0.23);
}

.card img {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card p {
  padding: 0.5rem 1rem;
}